*.bak
*.BAK
*.~*
libserialport.suo
libserialport.sln.cache
AwaitEvents/bin
AwaitEvents/obj
AwaitEvents/bin
AwaitEvents/AwaitEvents.csproj.user
CSharpTest/bin
CSharpTest/obj
CSharpTest/bin
CSharpTest/CSharpTest.csproj.user
HandleErrors/bin
HandleErrors/obj
HandleErrors/bin
HandleErrors/HandleErrors.csproj.user
libserialport/bin
libserialport/obj
libserialport/bin
libserialport/libserialport.csproj.user
PortInfo/bin
PortInfo/obj
PortInfo/bin
PortInfo/PortInfo.csproj.user
ListPorts/bin
ListPorts/obj
ListPorts/bin
ListPorts/ListPorts.csproj.user
PortConfig/bin
PortConfig/obj
PortConfig/bin
PortConfig/PortConfig.csproj.user
SendReceive/bin
SendReceive/obj
SendReceive/bin
SendReceive/PortConfig.csproj.user
